.contact-manager-menu {
	cursor: pointer; 
	li {
		color: black; 
		&:hover {
		color: blue; 
		transition: color ease 360ms; 
		}
		&:active {
			outline: blue 1px solid; 
		}
	}
}

.info-message {
	color: green; 
	background-color: #edffd4; 
	padding: 30px 2em 1em 2em; 
	margin: -20px auto;
	border-radius: 0 0 28px 28px; 
	width: 400px; 
	text-align: center; 
}